<p-dataTable [value]="transactions" [rows]="5" [paginator]="true" [lazy]="true" 
[totalRecords]="totalRecords" (onLazyLoad)="loadTransactionsLazy($event)" #dt>
  <p-header>List of Cars</p-header>
  <p-column field="transactionDate" header="Date"></p-column>
  <p-column field="amount" header="Amount" [filter]="true" filterMatchMode="equals"></p-column>
  <p-column field="transactionCategory.categoryName" header="Category" [filter]="true" filterMatchMode="in">
    <ng-template pTemplate="filter" let-col>
      <p-multiSelect [options]="categories" defaultLabel="All categories" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                     styleClass="ui-column-filter"></p-multiSelect>
    </ng-template>
  </p-column>
</p-dataTable>
